/*
------
ADD ALL BLOCK & ELEMENT STYLES HERE
------
*/


/* ----- IMPORTS ----- */

@import 'vars';

/* ----- /IMPORTS ----- */


/* ----- ELEMENTS ----- */

h1 {
  color: color(font, dark);
  font-family: $heading;
  margin: 0;
  margin-bottom: padding();
}

img {
  max-width: 100%;
}

button {
  @include defaultText();
  cursor: pointer;
  padding: padding(small);
  width: 100%;

  &.button {
    &--full {
      width: 100%;
      margin: padding() 0;
      padding: padding(small);
    }
  }
}

a {
  @include defaultText();
}

p {
  @include defaultText();
}

li {
  @include defaultText();
}

.main {
  padding: padding();
}

hr {
  border-color: color(font, dark);
  border-top: none;
}

form {
  display: flex;
  flex-direction: column;
  input, select, textarea {
    @include defaultText();
    margin: padding() 0;
    padding: padding(small);
    &[type=file] {
      padding: padding(small) 0;
    }
  }
  textarea {
    resize: vertical;
  }
  .button {
    &--space{
      margin: padding() 0;
    }
  }
}

/* ----- /ELEMENTS ----- */

/* ----- ROOT -----*/

#root, body {
  background-color: color(bg);
}

/* ----- /ROOT -----*/

/* ----- MESSAGEBOX -----*/
#messageBox {
  position: relative;
  width: 100%;
  .message {
    @include defaultText();
    box-sizing: border-box;
    padding: padding();
    width: 100%;
    position: absolute;
    top: -100px;
    text-align: center;
    &.success {
      background: color(message, base);
    }
    &.alert {
      background: color(message, alert);
    }
    &.error {
      color: colot(font, light);
      background: color(message, error);
    }
    &.test {
      top: 0;
    }
  }
}

/* ----- /MESSAGEBOX -----*/

/* ----- HEADER -----*/

header {
  background-color: color(bg, dark);
}

/* ----- /HEADER -----*/

/* ----- NAV -----*/

.nav {
  display: flex;
  padding: padding() 0;
  justify-content: flex-start;
  &__item {
    color: color(font, light);
    padding: padding(link);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* ----- /NAV -----*/

/* ----- ABOUT -----*/

.about {
  p {
    margin-bottom: padding();
  }
  a {
    &:hover {
       color: color(font, hover);
    }
  }
}

/* ----- /ABOUT -----*/

/* ----- OBSERVATIONS BLOCK -----*/

.observations {
  &__filter {
    margin-top: padding();
    p {
      margin-bottom: padding(small);
    }
  }
  &__list {
    padding: 0;
    &Item {
      list-style-type: none;
      margin-bottom: padding();
      p {
        font-size: 1.2rem;
        margin-bottom: padding(small);
      }
      &--title {
        @extend .observations__listItem;
        p {
          font-weight: bold;      
          font-size: 1.5rem;
          margin-bottom: padding();
        }
      }
    }
  }
}

/* ----- /OBSERVATIONS BLOCK -----*/

/* ----- OBSERVATION -----*/

.observation {
  &__list {
    @extend .observations__list;
    &Item {
      @extend .observations__listItem;
    }
  }
}

/* ----- /OBSERVATION -----*/

/* ----- OBSERVATION FORM -----*/

.observationForm {
  
}

/* ----- /OBSERVATION FORM  -----*/

/* ----- BREAKPOINTS  -----*/

@media screen and (min-width: 1000px) {
  button {
    max-width: 200px;
  }
  .main, .nav, #messageBox {
    margin: auto;
    max-width: 60%;
  }

  .nav__item {
    &:first-child {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .nav__item {
    font-size: .9rem;
  }
}

/* ----- /BREAKPOINTS  -----*/
